
<form ng-submit="createUser(myForm)" name="myForm" ng-init="required = true">

    <div ng-include="'/views/users/form.html'"></div>
 
    <!-- ng-disabled="!myForm.$valid" -->
    <button type="submit" class="btn" ng-disabled="myForm.$invalid">{{ 'add' | capitalize  }}</button>

</form>

