<form ng-submit="updateUser(myForm)" name="myForm">

    <div ng-include="'/views/users/form.html'"></div>

	<div class="form-group row">

		<label for="status" class="col-md-2 form-control-label">User status</label>


            <div class="col-md-10" style="padding-top: 6px; ">
                <p>
                    <label class="md-switch"><input type="checkbox"  ng-model="data.user.active" ng-true-value="'1'" ng-false-value="'0'" > 
                        <i class="green"></i>
                        <span ng-if="data.user.active == '1'">Active</span>
                        <span ng-if="data.user.active == '0'">Inactive</span>
                    </label>
                </p>
            </div>
                    
                
    </div>

    <button type="submit" class="btn" >{{ 'update' | capitalize  }}</button>

	<a href="" ng-click="cancel(user.id)" class="btn btn-danger" >{{ 'cancel' | capitalize  }}</button>
</form>
