            <div class="form-group row ">

                <label for="name" class="col-sm-2 col-md-2 form-control-label ng-binding">Name</label>
                <label class="md-check">
                    <input type="radio" ng-model="data.user.title" value="mr" class="ng-pristine ng-untouched ng-valid" > <i class="indigo"></i> Mr &nbsp;&nbsp;
                        <label class="md-check">
                            <input type="radio" ng-model="data.user.title" value="mrs" class="ng-pristine ng-untouched ng-valid"> <i class="indigo"></i> Mrs &nbsp; 
                        
                        </label>
                </label>
            </div>

            <div class="form-group row">
                <label for="firstname" class="col-sm-2 form-control-label">{{ 'firstname' | capitalize}}</label>

                <div class="col-sm-10">                
                    <input type="text" name="firstname" ng-model="data.user.firstname" class="form-control" placeholder="{{ 'firstname' | capitalize}}" required />
                </div>
            </div>

            <div class="form-group row">
                <label for="lastname" class="col-sm-2 form-control-label">{{ 'lastname' | capitalize}}</label>

                <div class="col-sm-10">                
                    <input type="text" name="lastname" ng-model="data.user.lastname" class="form-control" placeholder="{{ 'lastname' | capitalize}}" required />
                </div>
            </div>



           <div class="form-group row">

                <label for="email" class="col-sm-2 form-control-label">{{ 'email' | capitalize}}</label>

                <div class="col-sm-10"> 
                    <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
                    <input type="email" id="email" name="email" ng-model="data.user.email" class="form-control" placeholder="{{ 'email' | capitalize}}" required/>
                </div>
            
            </div>



            <div class="form-group row">
       
       
                <label for="password" class="col-sm-2 form-control-label">{{ 'password' | capitalize}}</label>
                <div class="col-sm-10">

                    <input type="password" id="password" name="password" ng-model="data.user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" class="form-control" ng-required="required" />

                    <span ng-show="(myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" >{{ 'password_length_msg' | capitalize }}</span>

                    <span ng-show="!myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">{{ 'password_contain_msg' | capitalize }}</span>
                </div>
                    
            </div>

            <div class="form-group row">
       
                <label for="password_c" class="col-sm-2 form-control-label">{{ 'confirm' | capitalize}}</label>
                
                <div class="col-sm-10">
                    <input type="password" id="password_c" class="form-control" name="password_c" ng-model="data.user.password_c" ng-required="required"/>

                    <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">{{ 'confirm_password_msg' | capitalize}}</span>
                    <span ng-show="data.user.password != data.user.password_c" >{{ 'password_match_msg' | capitalize }}</span>
                </div>
       
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">{{ 'user type' | capitalize}}</label>

                <div class="col-sm-10">
                    <select  ng-options="type.name for type in usertypes" class="form-control" ng-model="usertypes.selected" ng-required="required" >{{user}}
                        <option value="">-- Choose --</option>
                    }
                    }
                    </select>
                
                </div>
            </div>