


<div class="row-col row-col-xs b-b">
    <!-- column -->
    <div class="col-sm-2 col-md-2 w w-auto-sm b-r">
      <div class="row-col">
        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <div class="nav nav-pills nav-stacked " >
                
                <a class="nav-link _500">{{ 'users'| capitalize }}</a>

                <ul class="nav nav-pills" ng-init="idSelected = 0">

                  <li ng-class="{active: idSelected ===  0}"
                      ng-click="setSelected(0)">
                      <a href="" class="nav-link  " ng-click="filters.usertype_id = type.id">{{ 'all'| capitalize  }}</a>
                  </li>
                  <li ng-class="{active: type.id === idSelected}" ng-click="setSelected(type.id)" ng-repeat="type in usertypes ">

                      <a class="nav-link " ng-click="filters.usertype_id = type.id">
                          {{ type.name | capitalize  }}
                      </a>
                  </li> 
      
            </ul>
              <div class="p-a b-t text-center">
                <a href class="btn btn-sm white btn-addon" ng-click="showAddUser()"><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'add user'| capitalize  }}</a>
              </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <!-- /column -->
    <!-- column -->
    <div class="col-sm-6 col-md-6 light bg b-r">
      <div class="row-col">
        <div class="p-a-xs b-b">
            <div class="input-group">
                <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control no-border no-bg ng-pristine ng-valid ng-touched" placeholder="{{ 'search'| capitalize}}" ng-model="search.$">
            </div>
        </div>

        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <div class="list inset">

                <div id="newUserData"></div>

                <div id="user_{{user.id}}" class="list-item pointer"  ng-repeat=" user in users | orderBy:id:true | filter:search:strict | filter:filters" ng-if="user.active != '-1'">

                  <div class="list-left" >
                      <span class="w-40 circle _600 text-lg text-white blue-200" ng-click="showUserData(user)">{{ user.firstname | limitTo : 1}}</span>
                    </div>
                    <div class="list-body">
                      <div class="m-y-sm pull-right">
                        <a href="" class="btn btn-xs white" ng-click="showUserData(user)"><i class="fa fa-pencil"></i></a>
                        <a href="" ng-click="openModal(user)" class="btn btn-xs white" ><i class="fa fa-remove"></i></a>
                      </div>
                    </div>
                      <span  ng-click="showUserData(user)">  {{ user.firstname}} {{user.lastname }}</span>
                      <small class="block"><i class="fa fa-envelope m-r-sm text-muted" ></i><span  ng-click="showUserData(user)">  {{user.email}} </span></small>
                  </div>

                </div>

              </div>
            </div>
          </div>  
        </div>

      </div>

    <!-- /column -->

    <!-- column -->
    
    <div ng-show="showForm" class="col-sm-6 col-md-6 animate-hide" >
        <div class="padding">

            <a class="btn btn-sm white" ng-click="hideForm()"  >Back</a>

            <h4 ng-if="editUser" style="float: right">{{ data.user.firstname }} {{ data.user.lastname }}</h4>
            <h4 ng-if="addUser" style="float: right">{{ 'add user'| capitalize  }}</h4>
        </div>
  
        <div class="padding">

            <div ng-if="editUser">
                <div ng-include="'/views/users/edit.html'"></div>
            </div>

            <div ng-if="addUser">

                <div ng-include="'/views/users/add.html'"></div>
            </div>

        </div>

  </div>
</div>
</div>


