<div class="center-block w-xxl w-auto-xs p-y-md">

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div id="alert">
            
        </div>
     
        
      
        <div class="m-b text-sm">
            Sign in with your {{app.name}} Account
        </div>
        <form  ng-submit="login()">
            <div class="md-form-group float-label">
                <input type="text" class="md-input" ng-model="auth.username" required>
                <label>Username</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="auth.password" required>
                <label>Password</label>
            </div>
            <div class="m-b-md">
                <label class="md-check">
                    <input type="checkbox"><i class="primary"></i> Keep me signed in
                </label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md" >Sign in</button>
        </form>
    </div>

    <div class="p-v-lg text-center">
        <div class="m-b"><a ui-sref="access.forgot-password" href="/password/email" class="text-primary _600">Forgot
            password?</a></div>
        <div>Do not have an account? <a ui-sref="" href="#/signup" class="text-primary _600">Sign
            up</a></div>
    </div>
</div>
