<div class="col-md-8 col-md-offset-2">
<div class= "col-lg-2"></div>
  <div class="row col-lg-8 ">
   
      <div class="box">

        <div class="box-header">
          <h2>Sign up</h2>
          <small>Sign up for a CMS Account</small>
        </div>

        <div class="box-divider m-a-0"></div>
        
        <div class="box-body">
          <form ng-submit="signup()"  ng-init="required = true">
            
            <div class="form-group col-lg-12" >
              <input type="text" class="form-control"  ng-model="data.company.name"  placeholder="{{ 'company' | capitalize }}" required>
            </div>
            
            <div class="form-group col-lg-6">
              <input type="text" class="form-control"  ng-model="data.user.firstname" placeholder="{{ 'firstname' | capitalize }}" required>
            </div>
            
            <div class="form-group col-lg-6">
              <input type="text" class="form-control"  ng-model="data.user.lastname" placeholder="{{ 'lastname' | capitalize }}" required>
            </div>

            <div class="form-group col-lg-6">
              <input type="email" class="form-control"  ng-model="data.user.email" placeholder="{{ 'email' | capitalize }}" required>
            </div>

            <div class="form-group col-lg-6">
              <input type="text" class="form-control" ng-model="data.user.phone"  placeholder="{{ 'phone' | capitalize }}" required>
            </div>

            <div class="form-group col-lg-12">
              <button type="submit" class="btn primary  p-x-md">Sign up</button>
            </div>
          </form>
          <hr>

          <div class="box-footer">
            <small>You already have an account? Then please login at the login page.</small>
            <a href="/#/" id="login_link" >Login</a>
          </div>

        </div>

      </div>
    </div>

 </div>
 