
<div class="padding ng-scope">
	<div class="row-col row-col-xs b-b">

	<div class="col-md-6">

		<div class="box">
			<div class="box-header">
				<h2>Edit customer {{ add_customer | capitalize }}</h2>
			</div>

			<div class="box-divider m-a-0">
				
		</div>

		<div class="box-body">

			<form ng-submit="updateUser()" ng-init="required = true">

				<!-- include the form -->
			    <div ng-include="'/templates/customers/form.html'"></div>

				<br>
				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn ">{{ 'update' | capitalize }} </button>
						<button type="submit" class="btn btn-danger">{{ 'cancel' | capitalize }} </button>
					</div>
					
				</div> 
			</form>
		</div>
		</div>
	</div>

	</div>
</div>