

				<!-- ADDRESS -->
				<div class="form-group row">

					<label for="address" class="col-sm-2 form-control-label">{{ 'address'  | capitalize }}</label>

					<div class="col-sm-1">
						<input type="text" ng-model="data.user.attr.user_postcode" class="form-control" placeholder="{{'postcode'  | capitalize }}">
					</div>

					<div class="col-sm-1">
						<input type="text" ng-model="data.user.attr.user_housenumber" class="form-control" id="housenumber" placeholder="{{'housenumber'  | capitalize }}">
					</div>

					<div class="col-sm-1">
						<input type="text" ng-model="data.user.attr.user_suffix" class="form-control" placeholder="{{'suffix'  | capitalize }}">
					</div>
					<div class="col-sm-1">
						<input type="text" ng-model="data.user.attr.user_housenumber_addition" class="form-control" placeholder="{{'addition'  | capitalize }}">
					</div>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_city" class="form-control" id="city" placeholder="{{'city'  | capitalize }}">
					</div>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_street" class="form-control" id="street" placeholder="{{'street'  | capitalize }}">
					</div>
				</div>

				<!-- NAME -->
				<div class="form-group row">

					<label for="name" class="col-sm-2 col-md-2 form-control-label">{{'name'  | capitalize }}</label>

					<div class="col-sm-3 col-md-3 " style="padding-top: 8px;">

						<label class="md-check"><input type="radio" ng-model="data.user.title" value="mr"> <i class="indigo"></i> Mr &nbsp;&nbsp;
						<label class="md-check"><input type="radio" ng-model="data.user.title" value="mrs"> <i class="indigo"></i> Mrs &nbsp;
						

					</div>

					<div class="col-sm-3 col-md-3 ">

						<input type="text" class="form-control" ng-model="data.user.firstname" placeholder="{{'firstname'  | capitalize }}">

					</div>

					<div class="col-sm-3 col-md-3  ">

						<input type="text" class="form-control" ng-model="data.user.lastname" placeholder="{{'lastname'  | capitalize }}">



					</div>
				</div>

				<!-- CONTACT -->
				<div class="form-group row">
					
					<label for="contact" class="col-sm-2 form-control-label">{{'contact'  | capitalize }}</label>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_phone" class="form-control" placeholder="{{ 'phone' | capitalize }}">
					</div>
					
					<div class="col-sm-3">
						<input type="email" ng-model="data.user.email" class="form-control" placeholder="{{ 'email' | capitalize }}">
					</div>
				</div>

				<!-- BANK -->
				<div class="form-group row">
					
					<label for="contact" class="col-sm-2 form-control-label">{{'bank'  | capitalize }}</label>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_bankaccount" class="form-control"  placeholder="{{ 'bankaccount' | capitalize }}">
					</div>

					<div class="col-sm-2" style="padding-top: 8px;">


						<label class="md-check"><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="user.attr.user_incasso" > <i class="indigo"></i> {{ 'incasso' | capitalize }}</label>

					</div>

					<div class="col-sm-2">
						<input type="text" ng-model="data.user.attr.user_iban" class="form-control" id="iban" placeholder="{{ 'iban' | capitalize }}">
					</div>
					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_bic" class="form-control" id="bic" placeholder="{{ 'bic' | capitalize }}">
					</div>
				</div>

				<!-- CONTRACT -->
				<div class="form-group row">
					
					<label for="contract" class="col-sm-2 form-control-label">{{'contract'  | capitalize }}</label>

					<div class="col-sm-3">
							    
				    	<p class="input-group">
				    		<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="data.user.attr.user_start_date" is-open="isOpen"  datepicker-options="dateOptions"  ng-required="true" close-text="Close" required="required">
				    		<!-- ngIf: isOpen --> 
				    			<span class="input-group-btn">
				    				<button type="button" class="btn white" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
			    				</span>
	    				</p>
				
				  	</div>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_agent_nr" class="form-control" placeholder="{{ 'agent_nr' | capitalize }}">
					</div>

					<div class="col-sm-3">
						<input type="text" ng-model="data.user.attr.user_contract_nr" class="form-control" placeholder="{{ 'contract_nr' | capitalize }}">
					</div>

				</div>

				<!-- PAYMENT -->
	<!-- 			<div class="form-group row">
					
					<label for="payment" class="col-sm-2 form-control-label">{{'payment'  | capitalize }}</label>

					<div class="col-sm-2">
						<select class="form-control">
							<option value="">-- choose --</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>

					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="{{ 'agent_nr' | capitalize }}">
					</div>

					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="{{ 'contract_nr' | capitalize }}">
					</div>

				</div> -->

				<!-- STARTDATUM -->
	<!-- 			<div class="form-group row">
					
					<label for="payment" class="col-sm-2 form-control-label">{{'start_datum'  | capitalize }}</label>


					<div class="col-sm-3">			    
				    	<md-datepicker ng-model="customer.start_date" md-placeholder="{{'start_datum'  | capitalize }}" ></md-datepicker>
				  	</div>



				</div>-->
