<div class="padding ng-scope">

    <div class="box">
        <div class="box-header">
            <h2>{{ 'customers' | capitalize }}</h2>
        </div>
            
        <div class="tab-content">
            <div class="padding ng-scope">

                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover" class="table table-striped">
                    <thead>
                    <tr>
                        <th >{{ 'name' | capitalize }}</th>
                        <th>{{ 'postcode' | capitalize }}</th>
                        <th>{{ 'address' | capitalize }}</th>
                        <th>{{ 'city' | capitalize }}</th>
                        <th>{{ 'phone' | capitalize }}</th>
                        <th>{{ 'email' | capitalize }}</th>
                        <th>{{ 'status' | capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                    
                        <td><a href="/#/customer/{{ user.id }}">{{ user.firstname }} {{ user.lastname }} </a></td>
                        <td><a href="/#/customer/{{ user.id }}">{{ user.attr.user_postcode }}</a></td>
                        <td><a href="/#/customer/{{ user.id }}">
                            {{ user.attr.user_street }}
                            {{ user.attr.user_housenumber }}
                            {{ user.attr.user_suffix }} 
                            {{ user.attr.user_addition }}
                        </a></td>
                        <td><a href="/#/customer/{{ user.id }}">{{ user.attr.user_city }}</a></td>
                        <td><a href="/#/customer/{{ user.id }}">{{ user.attr.user_phone }}</a></td>
                        <td><a href="/#/customer/{{ user.id }}">{{ user.email }}</a></td>
                        <td><a href="/#/customer/{{ user.id }}">
                            <span ng-if="user.active == 1">Active</span>
                            <span ng-if="user.active == 0">Inactive</span>
                            <span ng-if="user.active == '-1'">Removed</span>

                            </a></td>

                    </tr>
                    </tbody>
                </table>

                <a href="/#/customer/create" class="btn btn-sm info btn-addon ng-binding" ><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'add_customer' | capitalize  }}</a>
            </div>

        </div>
    </div>
</div>

