<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.profile">
	    <span class="pull-left">
	      <img src="{{ ('assets/images/a0.jpg') }}" alt="..." class="w-40 img-circle">
	    </span>
	    <span class="clear hidden-folded p-x">
	      <span class="block _500">{{user.firstname}} {{user.middlename}} {{user.lastname}}</span>
	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
	    </span>
	</a>
</div>
