<div class="navbar" style="margin-top: 10px;
    margin-bottom: -10px;">
    <!-- Open side - Naviation on mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
        <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h5" id="pageTitle" n>
        {{ Page.title() | capitalize }}
    </div>



    <!-- navbar right -->
    
    <!-- / navbar right -->

    <!-- navbar collapse -->
    <div class="collapse navbar-toggleable-sm" id="collapse">

<!-- 
        <div ng-include="'/resources/views/blocks/navbar.form.right.html'"></div> -->
        <!-- link and dropdown  / -->
    </div>
    <!-- / navbar collapse -->



    <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="md-btn md-flat" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-fw fa-plus text-muted"></i>
            <span>New</span>  <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="javascript:void(0)" >{{ 'user' }}</a></li>

        </ul>
    </div>



</div>

