<ul class="nav" ui-nav>
    <li class="nav-header hidden-folded">
        <span class="text-xs text-muted">Header</span>
    </li>

    <li ng-repeat="nav in navUrl">
        <a href="#{{nav.url}}" ng-class="checkActiveLink(nav.url)">
          <span class="nav-icon">
            <i class="material-icons">
                {{nav.icon}}
            </i>
          </span>
            <span class="nav-text">{{nav.name}}</span>
        </a>
    </li>

</ul>
