<!-- brand -->
<a class="navbar-brand">
	<!--<div ng-include="'/resources/assets/images/logo.svg'"></div>-->
	<!--<img src="/resources/assets/images/logo.png" alt="." class="hide">-->
	<span class="hidden-folded inline v-m" style="margin-top: 15px;">
		{{app.name}}
		<span class="text-xs text-muted _300 block m-t-xs tagline">awesome uikit</span>
	</span>
</a>
<!-- / brand -->
